.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1030;
}

.col-md-3 {
    background-color: #0074D9;
    color: white;
    height: 100vh;
}

.col-md-9 {
    background-color: white;
    color: black;
    height: 100vh;
}

nav {
    margin-top: 50px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-top: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #f1f1f1;
    background-color: black;
}

.col-md-3,
.col-md-9 {
    position: relative;
}

.col-md-3::after,
.col-md-9::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: black;
}

.col-md-3::after {
    right: 0;
}

.col-md-9::before {
    left: 0;
}

.hr {
    border: 1px solid black;
}